*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: hotpink;
}
h1{
    background-color: #081b31;
    line-height: 5rem;
    color: white;
}
h2{
    margin-top: 30px;
    box-shadow: 0 0 1rem black;
    line-height: 2rem;
}
.choice{
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.choice:hover{
    cursor: pointer;
    background-color: pink;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin: 2%;
    font-size: 1.5rem;
}
#msg{
    font-size: 1.5rem;
    display: inline;
    background-color: aqua;
    border-radius: 5%;
    box-shadow: 0 0 1rem black;
    color:white;
    padding: 1rem;

}
#rbtn{
    height: 60px;
    width: 100px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    object-fit: cover;
    font-size: 1rem;
    margin-top: 3%;
    border-radius: 3%;
    box-shadow: 0 0 1rem black;
}